body {
    background-color: rgb(211, 210, 210);
}

.patratGrup {
    position: relative;
    top: 50vh;
    left: 50%;
    
    .patrat {
        height: 200px;
        width: 200px;
    }
    
    .patrat1 {
        background-color: yellow;
    }
    
    .patrat2 { 
        top: 100px;
        left: 100px;
        position: absolute;
        background-color: blue;
    }
    
    .patrat3 {
        top: 200px;
        left: 200px;
        position: absolute;
        background-color: green;
    }
}


